:root{
    --primary :#F2C94C
}



textarea{
    width: 80%;
    display: block;
    margin: 1rem;
    height: 10vh;
    padding: 1rem;
    text-align: center;
}

#header{
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--primary);
    border-radius: 0.8rem;
}

#btn-translate{
    margin: 1rem;
}

#text{
    margin: 1rem;
}

#output{
    border: 1px solid black;
    width: 80%;
    display: block;
    margin: 1rem;
    height: 10vh;
    padding: 1rem;
    text-align: center;
}